html {
  font-size: 62.5%;
}
body {
  background-color: #161515eb;
  margin: 0;
}
#slider {
  padding: 0 20px;
  box-sizing: border-box;
  height: 30rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.item {
  width: 100%;
  height: 100%;
  .text_item {
    background: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
  }
}
